useDynLib(astrochron, .registration = TRUE)

importFrom(IDPmisc, rfbaseline)
importFrom(multitaper, spec.mtm)
importFrom(multitaper, dpss)
importFrom(fields, image.plot)       
importFrom(fields, tim.colors)
importFrom(viridisLite, viridis)
importFrom("grDevices", "boxplot.stats", "colors", "dev.new", "dev.off", "gray", "tiff", "jpeg", "pdf", "png", "bmp", "rainbow", "xy.coords")
importFrom("grDevices", "colorRampPalette", "gray.colors", "hcl.colors")
importFrom("graphics", "abline", "axis", "boxplot", "contour", "grid", "hist", "identify", "image", "layout", "lines", "locator", "mtext", "par", "plot", "points", "polygon", "rect", "segments", "text")
importFrom("stats", "approx", "approxfun", "ar", "arima.sim", "as.ts", "cor", "density", "dnorm", "fft", "ksmooth", "lm", "loess", "median", "nls", "optim", "pchisq", "pf", "pnorm", "predict", "na.omit", "qchisq", "qqline", "qqnorm", "qt", "rnorm", "runif", "runmed", "sd", "spec.ar", "var")
importFrom("stats", "p.adjust")
importFrom("utils", "download.file", "head", "read.table", "write.table")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom(doParallel, registerDoParallel)
importFrom(parallel, makeCluster)
importFrom(parallel, stopCluster)
importFrom(iterators, icount)
importFrom(foreach, foreach)
importFrom(foreach, "%dopar%")
importFrom(palinsol, la04)
importFrom(palinsol, calins)
importFrom(palinsol, Insol)
importFrom(palinsol, Insol_l1l2)
importFrom(palinsol, thrins)
importFrom(palinsol, Milankovitch)

export(anchorTime,
       ar1,
       ar1etp,
       arcsinT,
       asm,
       armaGen,
       autoPlot,
       bandpass,
       bergerPeriods,
       bicoherence,
       bioturb,
       calcPeriods,
       cb,
       conv_fft, 
       clipIt,
       confAdjust,
       constantSedrate,
       cosTaper,
       cycles,
       deconv,
       delPts,
       demean,
       detrend,
       diffAccum,
       divTrend,
       dpssTaper,
       eAsm,
       eAsmTrack,
       eha,
       eTimeOpt,
       eTimeOptTrack,
       etp,
       extract,
       flip,
       freq2sedrate,
       gausTaper,
       getColor,
       getData,
       getLaskar,
       hannTaper,
       headn,
       hilbert,
       idPts,
       imbrie,
       impulseResponse,
       insoSeries,
       insoDiff,
       insoMap,
       integratePower,
       iso,
       linage,
       linterp,
       logT,
       lowpass,
       lowspec,
       makeNoise,
       mtm,
       mtmAR,
       mtmML96,
       mtmPL,
       multiTest,
       mwCor,
       mwMinMax,
       mwStats,
       mwStatsGrid,
       mwin,
       mwinGrid,
       noLow,
       noKernel,
       pad,
       peak,
       periodogram,
       pl,
       plotEha,
       plS,
       prewhiteAR,
       prewhiteAR1,
       pwrLaw,
       pwrLawFit,
       rankSeries,
       read,
       readMatrix,
       repl0,
       replEps,
       resample,
       rmNA,
       s,
       sedRamp,
       sedrate2time,
       slideCor,
       sortNave,
       stepHeat,
       strats,
       surrogateCor,
       surrogates,
       synthStrat,
       taner,
       tanerFC,
       testBackground,
       testPrecession,
       testTilt,
       timeOpt,
       timeOptMCMC,
       timeOptPlot,
       timeOptSim,
       timeOptSimPwrLaw,
       timeOptTemplate,
       timeOptTemplatePlot,
       timeOptTemplateSim,
       tones,
       traceFreq,
       tracePeak,
       trackFreq,
       trackPeak,
       trim,
       trimAT,
       trough,
       tune,
       unbioturb,
       writeCSV,
       writeT,
       wtMean,
       xplot,
       zoomIn
       ) 