useDynLib(astrochron, .registration = TRUE)

importFrom(IDPmisc, rfbaseline)
importFrom(multitaper, spec.mtm)
importFrom(multitaper, dpss)
importFrom(fields, image.plot)       
importFrom(fields, tim.colors)
importFrom("grDevices", "boxplot.stats", "colors", "dev.new", "dev.off", "gray", "jpeg", "pdf", "png", "rainbow", "xy.coords")
importFrom("graphics", "abline", "axis", "boxplot", "grid", "hist", "identify", "image", "layout", "lines", "locator", "mtext", "par", "plot", "points", "polygon", "rect", "segments", "text")
importFrom("stats", "approx", "approxfun", "ar", "arima.sim", "as.ts", "cor", "density", "dnorm", "fft", "ksmooth", "lm", "loess", "median", "nls", "optim", "pchisq", "pf", "pnorm", "predict", "na.omit", "qchisq", "qqline", "qqnorm", "qt", "rnorm", "runif", "runmed", "sd", "spec.ar", "var")
importFrom("utils", "download.file", "head", "read.table", "write.table")
importFrom("grDevices", "colorRampPalette", "gray.colors")

export(anchorTime,
       ar1,
       ar1etp,
       arcsinT,
       asm,
       armaGen,
       autoPlot,
       bandpass,
       bergerPeriods,
       cb, 
       clipIt,
       constantSedrate,
       cosTaper,
       cycles,
       delPts,
       demean,
       detrend,
       divTrend,
       dpssTaper,
       eAsm,
       eAsmTrack,
       eha,
       etp,
       extract,
       flip,
       freq2sedrate,
       gausTaper,
       getColor,
       getData,
       getLaskar,
       hannTaper,
       headn,
       hilbert,
       idPts,
       integratePower,
       iso,
       linage,
       linterp,
       logT,
       lowpass,
       lowspec,
       mtm,
       mtmAR,
       mtmML96,
       noLow,
       noKernel,
       pad,
       peak,
       periodogram,
       pl,
       plotEha,
       plS,
       prewhiteAR,
       prewhiteAR1,
       rankSeries,
       read,
       readMatrix,
       repl0,
       replEps,
       resample,
       rmNA,
       s,
       sedRamp,
       sedrate2time,
       sortNave,
       stepHeat,
       strats,
       surrogateCor,
       surrogates,
       taner,
       testPrecession,
       timeOpt,
       timeOptSim,
       tones,
       traceFreq,
       trackFreq,
       trim,
       trimAT,
       trough,
       tune,
       writeCSV,
       writeT,
       wtMean,
       xplot,
       zoomIn
       ) 